<a href="https://colab.research.google.com/github/ginttone/multi_deeplearning/blob/master/iris_Deeplearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 가져오기(sklearn -> iris)

In [1]:
from sklearn import datasets

iris 데이터가 cm로 동일하기 때문에 스케일링 할 필요 없다


iris.feaure_names  (각 컬럼 네임)
```
['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']
```

iris.data와 target을 쓸거다

In [3]:
iris = datasets.load_iris()

In [2]:
import pandas as pd

In [6]:
df_iris = pd.DataFrame(iris.data)

In [7]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

##  DB에 넣기

In [8]:
import sqlite3

In [9]:
connect = sqlite3.connect('./db.sqlite3')

In [10]:
df_iris.to_sql('iris_resource', connect, if_exists='append' , index=False)

In [11]:
df_load = pd.read_sql_query('select * from iris_resource', connect)

df_load.head(4)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2

In [12]:
x_data = df_load.to_numpy()

In [14]:
x_data.shape

(150, 4)

In [15]:
y_data = iris.target

In [16]:
y_data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

(스플릿 단계 생략)

## 교육단계 

데이터 통째로 딥러닝에 넣기

모델만들기

In [17]:
import tensorflow as tf

In [18]:
model = tf.keras.Sequential()

In [ ]:
model.add()

In [ ]:
model.add()

In [ ]:
model.add()

In [ ]:
model.compile()

학습시키기

## 서비스 단계

In [ ]:
model.predict()